
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Index</title>
</head>
<body>
    <div>
        
            <form action="Calc/Total" method="post">

                Value 1
                <input type="text" name="value1" />
                <br />
                Value 2
                <input type="text" name="value2" />
                <br />
                <br />
                <input  type="radio" name="calc" value="+"/>+

                <input type="radio" name="calc" value="-"/>-

                <input type="radio" name="calc" value="*"/>*

                <input type="radio" name="calc" value="/"/>/
                <br />
                <br /> 
                <input type="submit" value="SUBMIT" />
            </form>
        </div>
</body>
</html>


