
@{
    
}


    <div style="padding-top:50px">
        
        <form asp-action="Total" method="post">
            Value 1
            <input type="text" name="value1" />
            &nbsp &nbsp
            Value 2
            <input type="text" name="value2" />
            <br />
            <br />
            
            <input type="radio" name="calc" value="+" />+ &nbsp &nbsp

            <input type="radio" name="calc" value="-" />- &nbsp &nbsp

            <input type="radio" name="calc" value="*" />* &nbsp &nbsp

            <input type="radio" name="calc" value="/" />/ &nbsp &nbsp
            <br />
            <br />
            <input class="btn btn-outline-dark" type="submit" value="SUBMIT" />
        </form>
        </div>
    <div class="jumbotron">
            @if(ViewBag.Value != null)
        {
            <h5>Your Answer is: @ViewBag.Value</h5>

        }
    </div>
    



